<div class="container text-center">
  <h1>One.x APP</h1>
  <p>One.x is online compiler which compile, and execute code.</p>
    <div>
      <a class="btn btn-danger" [routerLink]="['/register']" role="button">Register</a>
      <a class="btn btn-success" [routerLink]="['/login']" role="button">Login</a>
    </div>
</div>
  <hr>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Code</h2>
      <p>User can login in to the app and code in provided text editor.</p>
    </div>
    <div class="col-md-4">
      <h2>Compile</h2>
      <p>User can compile there code in different languages java, c, c++, and python .</p>
    </div>
    <div class="col-md-4">
      <h2>Run</h2>
      <p>User can view there last 10 compiled code logs with code and and output.</p>
    </div>
  </div>
  <hr>

</div>
